.page-header
  %h2 #{@user.name}

- if current_user == @user
  = label_tag 'notifications' do
    = check_box_tag 'notifications'
    Desktop Notifications

  :javascript
    var storageKey = 'knojoe:browser-notifications';

    // requests permission if necessary
    function requestPermission() {
      if (window.webkitNotifications.checkPermission() != 0) {
        window.webkitNotifications.requestPermission();
      }
    }

    function initNotificationButton() {

      var val;

      var btn = $('#notifications');

      // initial
      if (val = window.localStorage.getItem(storageKey)) {
        if (val === 'on') {
          requestPermission();
          btn.prop('checked', true);
        }
      } else {
        btn.prop('checked', false);
      }

      btn.change( function (e) {
        if (btn.prop('checked')) {
          requestPermission();
          window.localStorage.setItem(storageKey,'on');
        } else {
          window.localStorage.removeItem(storageKey);
        }
      });
    }


    $( function () {
      if (window.webkitNotifications && window.localStorage) {
        initNotificationButton();
      }
    });

%h2 Received Likes Count
= @user.received_likes_count
