.dashboard
  %h2 Dashboard
  .msgboard
    - @recent_chats.each do |chat|
      .msg{data: { chat_id: chat.id} }
        .row-fluid
          .span10
            %p= chat.messages.first.try(:content)
            = timeago(chat.created_at)
          .span2
            - if chat.started? || chat.finished?
              = link_to 'Pickup', '#', class: 'btn pickup', disabled: true
            - else
              = link_to 'Pickup', responder_chat_path(chat), class: 'btn pickup btn-success'
:javascript

  function addMsg(data) {

    var entry;

    if (data) {
      entry = $('<div>').attr('data-chat-id', data.chat_id).addClass('msg');

      $('<time>').text(data.timestamp).appendTo(entry);
      $('<p>').text(data.message).appendTo(entry);
      switch (data.type) {
        case 'new':
          $('<a>').attr('href', data.chat_path + '?socket_id=' + pusher.connection.socket_id).addClass('btn').text('Pick up').appendTo(entry);
          break;
        case 'pickedup':
          $('[data-chat-id=' + data.chat_id + ']').find('.btn').prop('disabled', 'disabled');
      }

      $('.dashboard .msgboard').prepend(entry);
    }
  }

  var presenceChannel = pusher.subscribe("presence-home");

  presenceChannel.bind('pusher:subscription_succeeded', function() {
    $('.msgboard .msg .pickup').each(function(index, link) {
      $(link).setOrUpdateParam('socket_id', pusher.connection.socket_id);
    });
  });

- if current_user.available_for_push_notification?
  :javascript
    presenceChannel.bind('chat_start_event', addMsg);
    presenceChannel.bind('chat_pickedup_event', addMsg);