.dashboard
  %h2 Villager Dashboard
  .msgboard

:javascript

  function addMsg(data) {

    var entry;

    if (data) {
      entry = $('<div>').attr('data-chat-id', data.chat_id).addClass('msg');

      $('<time>').text(data.timestamp).appendTo(entry);
      $('<p>').text(data.message).appendTo(entry);
      switch (data.type) {
        case 'new':
          $('<a>').attr('href', data.chat_path + '?socket_id=' + pusher.connection.socket_id).addClass('btn').text('Pick up').appendTo(entry);
          break;
        case 'pickedup':
          $('[data-chat-id=' + data.chat_id + ']').find('.btn').prop('disabled', 'disabled');
      }

      $('.dashboard .msgboard').prepend(entry);
    }
  }


  Pusher.log = function(message) {
    if (window.console && window.console.log) window.console.log(message);
  };

  // Flash fallback logging - don't include this in production
  WEB_SOCKET_DEBUG = true;

  var pusher = new Pusher('13ea71fd49c7de808650');
  // var channel = pusher.subscribe("channel_user_#{current_user.id}");
  var presenceChannel = pusher.subscribe("presence-home");
  // channel.bind('chat_start_event', addMsg);
  presenceChannel.bind('chat_start_event', addMsg);
  presenceChannel.bind('chat_pickedup_event', addMsg);
