.row
  .span8.offset2
    .hero-unit
      %h1 Knojoe
      %h2 Your Personal Knowledge Desk
      %p.lead it taps into the realm of unrecorded knowledge and  connects people together.
      = link_to 'Get started', root_url(subdomain: false), class: 'btn btn-primary btn-large'

  .span8.offset2
    .pr_video.center
      :plain
        <iframe width="640" height="480" src="http://www.youtube.com/embed/rVmz5QrTikc?rel=0" frameborder="0" allowfullscreen></iframe>
