.container_narrow
  .row.hero-unit
    = link_to 'Sign in', login_path, class: 'btn btn-sign-in'

    %h1 Your <span>Personal<br>Knowledge</span> Desk
    %p.lead 3 minute conversations to quickly help each other anytime anywhere.

    .pr_video.center
      .cont
        %iframe(width="420" height="280" src="http://www.youtube.com/embed/rVmz5QrTikc?autohide=1&rel=0&theme=light&modestbranding=0&showinfo=0&controls=1" frameborder="0" allowfullscreen)
