- if current_user
  .row
    .span5
      = render 'dashboard'
    .span1
    .span6
      .span4
        %h2 New conversation
        = simple_form_for Chat.new do |f|
          = f.input :initial_message, as: :text, input_html: { class: 'span4', rows: 5 }
          = f.button :submit, class: 'btn-primary btn-block'
