= render 'timer'

#messages{ 'data-id' => @chat.id }= render @messages

= render 'message_form'

:javascript
  jQuery(function($) {
    $('#messages').scrollTop($('#messages').prop('scrollHeight'));

    window.confirmLeavingOnGoingChat = true;
    onbeforeunload = function() {
      if (confirmLeavingOnGoingChat) {
        return 'You are about to leave an unfinished conversation.';
      };
    };
  });
