#messages= render @messages

= render 'message_form'

= javascript_include_tag 'http://js.pusher.com/1.12/pusher.min.js'

:javascript
  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) window.console.log(message);
  };

  // Flash fallback logging - don't include this in production
  WEB_SOCKET_DEBUG = true;

  var pusher = new Pusher('13ea71fd49c7de808650');
  var channel = pusher.subscribe("channel_#{@chat.id}");
  channel.bind('chat_event', function(data) {
    $("#messages").append(data.html);
    if (window.Cocoa) {
      Cocoa.log(data.message);
    }
  });
