.dashboard {

  $border_color: #eaeaea;
  $full_padding: 12px;

  clear: both;

  .msgboard {
    overflow: auto;
    width: 100%;
    margin: auto;
  }

  .msg {
    position: relative;
    border-bottom: 1px solid $border_color;
    padding: $full_padding 90px 6px $full_padding;
  }

  .msg:first-child {
    border-top: 1px solid $border_color;
  }

  .pickup {
    position: absolute;
    right: $full_padding;
    top: 15px;
  }
}

@media (max-width: 340px) {
  .dashboard {
    .msg {
      padding-right: 12px;
    }

    .pickup {
      position: static;
      display: block;
      margin-top: 6px;
      width: 40px;
    }
  }
}


