.timer_container {
  position: relative;
  width: 25px;
  float: right;
  height: 23px;
  margin: 5px 0;
  background: #000;
  -webkit-mask-image: url(/assets/clock_icon.png);
  padding-top: 2px;

  .timer_frame {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &.warning .timer_frame {
    border: 1px solid #f00;
    .timer {
      background: #f00;
    }
  }
}

.timer {
  position: absolute;
  bottom: 0;
  display: block;
  background: #f00;
  height: 0;
  width: 100%;
}
