.timer_container {
  position: relative;
  width: 59px;
  float: right;
  height: 25px;
  margin: 5px 0;
  margin-bottom: 10px;
  background: url(/assets/clock_icon.png) left center no-repeat;
  padding-left: 28px;

  .timer_frame {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &.warning .timer_frame {
    border: 1px solid #f00;
    .timer {
      background: #f00;
    }
  }
}

.timer {
  position: absolute;
  bottom: 0;
  display: block;
  background: #000;
  height: 23px;
  width: 0;
}
