/*
 *= require_self
 *= require bootstrap_and_overrides
 *= require chats
 *= require users
 *= require index
 *= require index_static
 *= require home
 *= require_tree ./responsive
 */

@import 'colors';
@import 'dashboard';
@import 'emoji_sprite';
@import 'timer';

abbr.timeago {
  color: $brand-textGrey;
}

.center {
  text-align: center;
}

.logo {
  height: 20px;
}

footer {
  margin-top: 32px;

  p {
    color: #ddd;
    text-align: center;
    font-size: 0.9em;
  }
}

#online_info {
  color: #333;
  font-size: 1.1em;
}

#available_member_count {
  font-size: 1.2em;
  color: #65a830;
}

.container_narrow {
  max-width: 700px;
  margin: 0 auto;
}

.ask_btn {
  float: right;
}
