/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require chats
 *= require users
 *= require index_static
 *= require_tree ./responsive
 */

@import 'dashboard';
@import 'timer';

.center {
  text-align: center;
}

.logo {
  height: 20px;
}

footer {
  margin-top: 50px;

  p {
    color: #ddd;
    text-align: center;
    font-size: 0.9em;
  }
}

#online_info {
  color: #333;
  font-size: 1.1em;
}

#available_member_count {
  font-size: 1.2em;
  color: #65a830;
}

.container_narrow {
  max-width: 700px;
  margin: 0 auto;
}

.ask_btn {
  float: right;
}

.initial_question_input {
  width: 100%;
  resize: none;
}

footer {
  margin-top: 32px;
}
