#messages {
  overflow: auto;
  border: 1px solid #eaeaea;
  padding: 5px;
  margin: 20px 0;
  width: 100%;
  height: 220px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.message {
  clear: both;
  max-width: 76%;
  margin-bottom: 12px;

  p {
    margin: 0;
    display: block;
  }

  &.me_msg {
    float: right;
  }

  &.status_msg {
    color: gray;
    max-width: 100%;
    text-align: center;
  }

  .like_button {
    display: block;
  }

  .unlike_button {
    display: none;
  }

  &.liked {
    .like_button {
      display: none;
    }
    .unlike_button {
      display: block;
    }
  }

  abbr.time {
    color: #bfbfbf;
    font-size: 11px;
    display: block;
  }

  &.me_msg {
    abbr.time {
      text-align: right;
    }
    .like_button, .unlike_button {
      text-align: right;
    }
  }
}


.chat_status.not_started {
  .message_form {
    display: none;
  }

  .finish_button {
    display: none;
  }
}

.chat_status.waiting {
  background: url(/assets/progress.gif) 50% 60% no-repeat;
}

.message_form {
  $popup_border: 1px solid #808080;

  position: relative;
  width: 100%;
  height: 50px;
  max-width: 700px;

  .message_input_container {
    position: absolute;
    left: 0;
    right: 110px;

    .message_input {
      width: 100%;
    }
  }

  .emoji_btn {
    position: absolute;
    top: 4px;
    right: 60px;
    background: url(/assets/emoji_btn.png) top left no-repeat;
    margin-right: .5em;
    width: 22px;
    height: 22px;
    opacity: 0.6;
  }

  .emoji_btn.active {
    opacity: 1;
    border: $popup_border;
    border-top: 0;
  }

  .emoji_popup {
    background: #fff;
    position: absolute;
    bottom: 46px;
    right: 67px;
    border: $popup_border;
    border-bottom: 0;
    z-index: 100;
    width: 22px;

    .emoji {
      cursor: pointer;
    }
  }

  .send_btn {
    position: absolute;
    right: 0;
    width: 59px;
  }

}
