.me_msg {
  text-align: right;
}

.status_msg {
  color: gray;
}

#messages {
  overflow: auto;
  border: 1px solid #CCC;
  padding: 5px;
  margin: 20px 0;
  width: 100%;
  height: 220px;
  -webkit-box-sizing: border-box;
}


.message {

  .like_button {
    display: block;
  }

  .unlike_button {
    display: none;
  }

  &.liked {
    .like_button {
      display: none;
    }
    .unlike_button {
      display: block;
    }
  }
}
