.me_msg {
  text-align: right;
}

.status_msg {
  color: gray;
}

#messages {
  overflow: auto;
  border: 1px solid #eaeaea;
  padding: 5px;
  margin: 20px 0;
  width: 100%;
  height: 220px;
  -webkit-box-sizing: border-box;
}


.message {

  .like_button {
    display: block;
  }

  .unlike_button {
    display: none;
  }

  &.liked {
    .like_button {
      display: none;
    }
    .unlike_button {
      display: block;
    }
  }
}

.message_form {
  position: relative;
  width: 100%;
  height: 50px;
  max-width: 700px;

  .message_input_container {
    position: absolute;
    left: 0;
    right: 80px;

    .message_input {
      width: 100%;
    }
  }

  .send_btn {
    position: absolute;
    right: 0;
  }

}
