.home_controller {
  &.index_static_action {
    padding-top: 0;

    .navbar {
      display: none;
    }

    .pr_video {
      width: 514px;
      height: 340px;
      margin: auto;
      position: relative;
      background: #000;
      border-radius: 10px;
      margin-top: 20px;
      margin-bottom: 30px;

      .cont {
        top: 25px;
        left: 50px;
        clip: rect(0px, 419px, 449px, 0px);
        position: absolute;
      }
    }

    .lead {
      width: 514px;
      margin: auto;
      text-align: left;
      margin-bottom: 30px;
      font-size: 90%;
    }

    h1 {
      font-weight: normal;
      text-align: left;
      width: 514px;
      margin: auto;

      span {
        font-weight: bold;
        color: rgb(44,55,99);
      }
    }

    .hero-unit {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      position: relative;
      width: 600px;
      margin: auto;
    }

    .btn-sign-in {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}
